@charset "utf-8";

$purple: rgb(52, 9, 172);
$blue: rgb(55, 126, 230);

$primary: $purple;
$dimensions: 16 24 32 48 64 96 200; // Replace 128 with 200 for the avatar

@import "../bulma/bulma";

.is-horizontal-center {
    justify-content: center;
}

.top {
    background: linear-gradient(138deg, $purple 20%, $blue 100%);

    padding: 35px;

    color: white;

    h1,
    h4,
    a {
        color: white;
    }

    #avatar {
        width: 200px;
        height: 200px;
    }

    .item {
        margin-bottom: 10px;
        font-size: 125%;
    
        &::before {
            content: "-  ";
            color: $grey-light;
            font-weight: bold;
        }
    
        img {
            height: 1.2em;
        }
    
        a {
            transition: opacity 0.2s ease-out;
    
            &:hover {
                opacity: 0.5;
            }
        }
    }
}
