@charset "utf-8";

$primary: #0b369b;
$secondary: #066b9d;

$dimensions: 16 24 32 48 64 96 200; // Replace 128 with 200 for the avatar

@import "../bulma/bulma";

.is-horizontal-center {
    justify-content: center;
}

.top {
    background: linear-gradient(138deg, $primary 20%, $secondary 100%);

    padding: 35px;

    color: white;

    .switch-locale {
        display: flex;
        justify-content: flex-end;

        li a img {
            height: 1.7em;
            margin-left: 0.4em;
            border-radius: 20%;
            border: 0.1em solid $secondary;
        }
    }

    h1,
    h4,
    a {
        color: white;
    }

    #avatar {
        width: 200px;
        height: 200px;
    }

    .item {
        margin-bottom: 10px;
        font-size: 125%;

        &::before {
            content: "-  ";
            color: $grey-light;
            font-weight: bold;
        }

        img {
            height: 1.2em;
        }

        a {
            transition: opacity 0.2s ease-out;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}
