$main-font-family: Montserrat, sans-serif;
$heading-font-family: Eczar, serif;

$background-color: #2a2b34;
$color: white;
$accent-1: #ffe8a9;
$accent-2: #fec4a9;
$accent-3: #d3b9f8;
$accent-4: #b9d4ff;

$waves-max-width: 1600px;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $main-font-family;
    line-height: 1.5;
    background-color: $background-color;
    color: $color;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em 5em 0.01em 5em;

    @media (max-width: 768px) {
        padding: 1em 2em 0.01em 2em;
    }
}

a {
    color: $accent-4;
    font-weight: 600;

    transition: color 0.2s ease-in-out;

    &:hover {
        color: lighten($accent-4, 20%);
    }
}

.content {
    font-size: 1.25em;
    line-height: 1.6em;
    margin-bottom: 0.9em;

    @media (max-width: 768px) {
        font-size: 1em;
    }
}

.section-heading {
    font-family: $heading-font-family;
    font-size: 2.7rem;

    color: $accent-3;
    text-align: center;
}

.dim {
    color: mix($background-color, $color);
}

pre.wrap {
    white-space: pre-wrap;
}

header {
    @extend .container;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    #header-toggle {
        color: $accent-3;

        transition: transform 0.5s;

        @media (min-width: 480px) {
            display: none;
        }
    }

    #header-links {
        text-align: center;

        width: 100%;
        padding: 0.6em 0 0 0;

        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
            justify-content: space-around;
        }

        @media (max-width: 480px) {
            flex-direction: column;
            opacity: 0;
            height: 0;
            overflow: hidden;

            transition: all 0.5s ease-in-out;
            transform-origin: left top;
            transform: scaleY(0);
        }

        .header-link {
            font-size: 1rem;
            color: $accent-3;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;

            padding: 0.9em 1.5em;

            transition: all 0.5s ease-in-out;

            &:hover {
                color: lighten($accent-3, 20%);
                text-shadow: 0 0 1.5rem white;
            }
        }
    }
}

#intro {
    @extend .container;

    padding: 2em 5em 3em 5em;

    @media (max-width: 768px) {
        padding: 3.2em 1.3em;
    }

    .heading {
        font-family: $heading-font-family;
        font-size: 5rem;
        line-height: 1.15;

        color: $accent-1;

        margin-bottom: 0.07em;

        @media (max-width: 768px) {
            font-size: 3em;
        }
    }

    .subheading {
        font-size: 1.7rem;
        color: $accent-2;

        @media (max-width: 768px) {
            font-size: 1.35em;
        }
    }
}

#waves-container {
    width: 100%;
    overflow: hidden;

    max-width: $waves-max-width;

    @media (min-width: $waves-max-width) {
        margin: 0 auto;
    }

    svg {
        width: 100%;
        object-fit: cover;

        @media (max-width: 768px) {
            width: 350%;
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

#newsletter-form {
    margin-bottom: 0.9em;

    .input-group {
        position: relative;

        display: flex;
        flex-direction: row;

        width: 75%;
        max-width: 450px;

        margin: 0 auto;
        border-radius: 2px;
        padding: 0.5em 1em;

        background-color: rgba(57, 63, 84, 0.8);

        &:after {
            content: "";

            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;

            z-index: 999;

            height: 2px;

            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;

            background-position: 0% 0%;

            background: linear-gradient(
                to right,
                $accent-1,
                $accent-2,
                $accent-3,
                $accent-4,
                $accent-3,
                $accent-2,
                $accent-1
            );

            background-size: 500% auto;

            animation: gradient 3s linear infinite;
        }

        input {
            border-style: none;
            background: transparent;
            outline: none;

            width: 80%;

            flex-grow: 1;
            color: white;
            font-size: 1.2em;
            vertical-align: middle;

            font-family: $main-font-family;
            font-weight: 600;

            @media (max-width: 768px) {
                font-size: 0.9em;
            }

            &::-webkit-input-placeholder {
                color: mix(white, $background-color);
            }
        }

        button {
            padding: 0;
            background: none;
            border: none;
            outline: none;

            color: mix(white, $background-color);
            font-size: 1.8em;
            vertical-align: middle;
            transition: color 0.25s;

            cursor: pointer;

            &:hover {
                color: white;
            }
        }
    }
}

footer {
    @extend .container;
    @extend .dim;

    padding: 4.5em 5em 5em 5em;

    font-size: 0.7em;

    text-align: center;

    #social-links {
        font-size: 2em;

        display: flex;
        justify-content: center;

        padding-bottom: 0.5em;

        .social-link {
            padding: 0 0.5em;
        }
    }
}
